body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.todo-container {
    max-width: 500px;
    margin: 3em auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

button {
    padding: 1em 2em;
    border: none;
    border-radius: 10px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

button:hover {
    background-color: #0083da;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }


ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

li {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-bottom: .8em;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: .5em 1em;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ff0019;
    transform: scale(1.1);
}

.delete-button:active {
    background-color: #ff0019;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
